@model sge.Entities.Viatura

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
<div class="card border-light w-50">
<h1 class="text-center">Devolver viatura?</h1>
<hr/>
    <dl class="row">
        <dt class="col-4">
            @Html.DisplayNameFor(model => model.placa)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.placa)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.ordem)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.ordem)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.situacaoViatura)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.situacaoViatura)
        </dd>
    </dl>
    <form asp-action="Delete" class="py-2">
        <input type="hidden" asp-for="placa" />
        <input type="submit" value="Delete" class="btn btn-danger col-12" />
    </form>
    <a asp-action="Index" class="py-2">
        <button class="btn btn-primary col-12">Cancel</button>
    </a>
</div>
</div>