@model IEnumerable<sge.Entities.Viatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Viaturas</h1>

<p>
    <a asp-action="Create">Cadastrar viatura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ordem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.situacaoViatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ordem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacaoViatura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.placa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.placa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.placa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
