@model sge.Entities.Funcionario

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="card border-light w-50">
    <h1 class="text-center">Demitir funcionário?</h1>
    <hr />
    <dl class="row">
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.cpf)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.cpf)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.matricula)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.matricula)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.sobrenome)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.sobrenome)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.apelido)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.apelido)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.funcao)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.funcao)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.situacaoFuncionario)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.situacaoFuncionario)
        </dd>
        <dt class = "col-4">
            @Html.DisplayNameFor(model => model.escala)
        </dt>
        <dd class = "col-8">
            @Html.DisplayFor(model => model.escala)
        </dd>
    </dl>
    <div class="row justify-content-center py-2">
        <form class="col-12 py-2" asp-action="Delete">
            <input type="hidden" asp-for="re" />
            <input type="submit" value="Demitir" class="btn btn-danger col-12" />
        </form>
        <a class="col-12 py-2" asp-action="Index">
            <button class="btn btn-primary col-12">
                Back to List
            </button>
        </a>

    </div>
    </div>
</div>
